/*  your css code here. If applicable */
*{
    margin:0;
    padding:0;
}
#animal-photos{
    display: inline-block;
    background: rgb(68,68,68);
    padding:20px;
    border-radius:25px;

}
#photo-heading{
    
    display:flex;
    justify-self:center;
    justify-content: center;
    color: rgb(245,245,245);
    margin-bottom:20px;
    font-size: 45px;
       
}
.animals{
    display:grid;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
img{
    border-radius: 15px;
}